body {
    color: rgb(54, 19, 19);
    max-width: 1200px;
    margin: auto;

    /* <weight>: Use a value from 400 to 900 */
    font-family: 'Cinzel', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
    line-height: 1.5;
    margin: 20px;
}

section {
    margin: 50px;
}

header {
    /* background-color: rgb(220, 184, 184); */
}

.intro {
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: start;
    padding: 10px;
    text-align: center;
    column-gap: 50px;
}*/

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.headshot img {
    width: 10rem;
    border-radius: 50%;

}

.heroimage {
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .2)), url("heroimage.jpg");
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: auto;
    margin: auto;
}



h2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;

}

.navbar {
    background-color: rgba(220, 184, 184, 0);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
    max-width: 1200px;

}

.navbar a {
    float: left;
    color: rgb(54, 19, 19);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    /* width: 100px */
    /* padding: 5px 20px; */
    /* margin: 5px; */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.668);
    color: rgb(54, 19, 19);
    font-style: italic;
}

ul.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: start;
    column-gap: 30px;

}

.centered {
    text-align: center;
}

.justify {
    text-align: justify
}

.right {
    text-align: right;
}

li {
    padding: 10px;
    line-height: 1.5;
}

.hero-banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* Smooth transition */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    /* Example text color */
    text-align: center;
}

.hero-slide.active {
    opacity: .8;
}

/*a:link {
    color: rgb(54, 19, 19);
}

a:visited {
    color: rgb(54, 19, 19);
}
*/
a:hover {
    filter: brightness(0.8);
}


footer {
    background-color: rgb(220, 184, 184);
    padding-bottom: 10px;
}