body {
    color: rgb(54, 19, 19);
    max-width: 1200px;
    margin: auto;

    /* <weight>: Use a value from 400 to 900 */
    font-family: 'Cinzel', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
    line-height: 1.5;
    margin: 20px;
}

section {
    margin: 50px;
}


.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.headshot img {
    width: 10rem;
    border-radius: 50%;
    border-color: rgb(79, 35, 35);
    border-width: 2px;
    border-style: solid;


}

.heroimage {
    background-position: center;
    background-image: linear-gradient(rgba(220, 184, 184, 0.9), rgba(220, 184, 184, .4)), url("heroimage.jpg");
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: auto;
    margin: auto;
}

h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.hero-content {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .7);
    padding: 5px 20px;
    border-radius: 10px;
}


.navbar {
    background-color: rgba(220, 184, 184, 0);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
    max-width: 1200px;

}

.navbar a {
    float: left;
    color: rgb(54, 19, 19);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 15px;
}

.navbar a:hover {
    background-color: rgba(220, 184, 184, 0.5);
    color: rgb(54, 19, 19);
    font-style: italic;
}

ul.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: start;
    column-gap: 30px;

}

.centered {
    text-align: center;
}

.justify {
    text-align: justify
}

.right {
    text-align: right;
}

li {
    font-family: garamond, serif;
    padding: 10px;
    line-height: 1.5;
}

.hero-banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* Smooth transition */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(54, 19, 19);
    text-align: center;
}

.hero-slide.active {
    opacity: 1;
}


a:link {
    color: rgb(54, 19, 19);
}

a:visited {
    color: rgb(54, 19, 19);
}

a:hover {
    /* filter: brightness(0.2); */
    color: rgb(50, 100, 50);
}



footer {
    background-color: rgb(220, 184, 184);
    padding-bottom: 10px;
}